<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Anjana Delhi, Becky Ruth, David Ruppel, and Morgan Tighe">
    <title>The World Happiness Project</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/product/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      <!-- Custom styles for this template -->
      <link href="product.css" rel="stylesheet">
</head>
<body style="background-color:rgb(168,220,220);">
    <nav class="site-header sticky-top py-1">
        <div class="position-relative d-flex flex-column flex-md-row justify-content-between" style="background-color:rgb(255,216,9);">
            <a class="py-2 d-none d-md-inline-block" href="#"></a>
            <a class="py-2" href="#" aria-label="Product">
            <img src="WorldHappinessLogo.png" width="24" height="36" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>The World Happiness Project</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            </a>
          <a class="py-2 d-none d-md-inline-block" href="#">The World Happiness Project</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Home</a>
          <a class="py-2 d-none d-md-inline-block" href="/index">Happiness Map</a>
          <a class="py-2 d-none d-md-inline-block" href="/life_map">Life Expectancy Choropleth</a>
          <a class="py-2 d-none d-md-inline-block" href="#"></a>
        </div>
    </nav>
<div class="position-relative overflow-hidden text-center">
    <a class="py-2" href="#" aria-label="The World Happiness Project">
        <img src="HeaderImage.png" width="1050" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false">
    </a>
</div>
    <div class="position-relative overflow-hidden text-center bg-light">
       <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">The World Happiness Project</h1>
      <p class="lead font-weight-normal">What drives happiness? What societal factors play into the happiness of a country’s citizens? These are the question that our group set out to answer.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

</body>
</html>